<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:networkSecurityConfig="@xml/network_security_config"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        tools:targetApi="34">
        <activity
            android:name="com.joohnq.profile.activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.joohnq.job_ui.activities.JobDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.joohnq.onboarding_ui.activities.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name="com.joohnq.show_all_ui.activities.ShowAllActivity"
            android:exported="false" />
        <activity
            android:name="com.joohnq.main.activities.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.joohnq.onboarding_ui.activities.OccupationActivity"
            android:exported="false" />
        <activity
            android:name="com.joohhq.loading.activities.LoadingActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>